<!-- TODO: Improve later -->
<% if user_signed_in? %>
  <%= image_tag current_user.avatar_url %>
  <%= current_user.user_name %>
  <p>I'm on Day <%= current_user.day.to_i %></p>
<% end %>

<%= render 'layouts/day_form' %>

<% if !@day.nil? %>
  <div id="search-results">
    <%= render 'layouts/tweets' %>
  </div>
<% end %>
