<% provide(:title, "My Page") %>
<% day_num = @day.to_i %>

<div class="user-info-container">
  <div class="user_info">
    <%= image_tag @user.avatar_url, :class => 'avatar' %>
    <span class="user-name">@<%= @user.user_name %></span>
  </div>
  <div class="user_info current-day-display">
    Day <%= day_num %>
  </div>
  
  <%= render 'layouts/dots' %>
</div>

<div class="day-form-container tweet-btn-area">
  
  <%= render 'layouts/next_day_btn' %>
  
  <div class="btn-group">
    <p class="text-muted btn-desc">Tweet and proceed to next Day</p>
    <div>
      <!-- Tweet button with current Day -->
      <a href="https://twitter.com/intent/tweet?button_hashtag=100DaysOfCode&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-text="Day<%= calc_next_day(day_num) %>" data-show-count="false">Tweet #100DaysOfCode</a>
    </div>
  </div>
  
  <p class="text-muted btn-desc">Or tweet from <a href="https://twitter.com/" target="_blank">twitter.com</a> to attach images/videos</p>

</div>

<%= render 'layouts/tweets' %>

<%= render 'layouts/my_day_form' %>
