<% day_num = @day.to_i %>

<div class="user-info-container">
  <div class="user_info">
    <%= image_tag @user.avatar_url, :class => 'avatar' %>
    <span class="user-name">@<%= @user.user_name %></span>
  </div>
  <div class="user_info current-day-display">
    Day <%= day_num %>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= day_num %>%" aria-valuenow="<%= day_num %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<%= render 'layouts/next_day_btn' %>


<%= render 'layouts/tweets' %>

<%= render 'layouts/my_day_form' %>
