<div>
  <%= image_tag @user.avatar_url %>
  <%= @user.user_name %>
</div>

<%= render 'layouts/my_day_form' %>

<% if !@day.nil? %>
  <div>I'm on Day <%= @day.to_i %> !</div>
  <div id="search-results">
    <%= render 'layouts/tweets' %>
  </div>
<% end %>
