<!-- For users on Day 0 to 99 -->
<% if !@day.nil? && @day.to_i < 100 %>
  <div class="form-group">
    <%= form_for(current_user, :html => {class: 'day-form-container'}) do |f| %>
      <%= f.hidden_field :day, :value => @day + 1 %>
      <%= f.submit 'Proceed to Next Day', :id => 'btn-day-form',
                                      :class => 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>

<!-- For users who reached Day 100 -->
<% if @day == 100 %>
  <p class="congrats">CONGRATULATIONS! You reached Day 100!</p>
  <div class="form-group">
    <%= form_for(current_user, :html => {class: 'day-form-container'}) do |f| %>
      <%= f.hidden_field :day, :value =>  1 %>
      <%= f.submit 'Start New Round', :id => 'btn-day-form',
                                      :class => 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
