<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Twitter JavaScript loader -->
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    
    <div class="container">
      <main>
        <h1>On The Day</h1>
        <p class="lead">Find people who are on the same day of #100DaysOfCode</p>
    
        <%= yield %>
      </main>
      
      <footer>
        <small>
          Developed by: <a href="https://twitter.com/siideemt">@siideemt</a><br>
        </small>
      </footer>
    </div>
  </body>
</html>
