<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124493341-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-124493341-3');
    </script>
    <!-- Global site tag end -->

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Twitter JavaScript loader -->
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <span class="navbar-brand">On The Day</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarTogglerDemo03"
                  aria-controls="navbarTogglerDemo03"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <!-- Login Logout links-->
          <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'My Page', my_page_path, :class => 'nav-link' %></li>
            </ul>
            <span class="navbar-text">Logged in as: @<%= current_user.user_name %></span>
          <% else %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item"><%= link_to 'Twitter Login', user_twitter_omniauth_authorize_path, :class => 'nav-link' %></li>
            </ul>
          <% end %>
        </div>
      </nav>


    <div class="container">

      <div class="notice_area">
        <!-- flash messages -->
        <% flash.each do |message_type, message| %>
          <div class='alert alert-<%= message_type %>'><%= message %></div>
        <% end %>
        <!-- flash messages for devise -->
        <% if notice.present? %>
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%= notice %></p>
          </div>
        <% end %>
  
        <% if alert.present? %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%= alert %></p>
          </div>
        <% end %>
      </div>

      
      <main>
        <%= yield %>
      </main>
      
      <footer>
        <small>
          Developed by: <a href="https://twitter.com/siideemt">@siideemt</a><br>
        </small>
      </footer>
    </div>
  </body>
</html>
